/* ========== GLOBAL VARIABLES ========== */
:root {
  --font-main: 'Inter', sans-serif;

  /* Light Mode Colors */
  --color-light-bg: #A1D5EB;
  --color-light-inner-bg: #122D3A;
  --color-light-text: #122D3A;

  /* Dark Mode Colors */
  --color-dark-bg: #011822;
  --color-dark-inner-bg: #122D3A;
  --color-dark-text: #A1D5EB;
}

/* BASE & LAYOUT */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-light-inner-bg);
  color: var(--body-text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.light-mode {
  --body-text-color: var(--color-light-text);
  background-color: var(--color-light-bg);
  color: var(--color-light-text);
}

body.dark-mode {
  --body-text-color: var(--color-dark-text);
  background-color: var(--color-dark-bg);
  color: var(--color-dark-text);
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER & FOOTER  */
.header-bar,
.footer {
  background-color: var(--color-light-bg);
  color: var(--color-light-text);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.footer {
  margin-top: auto;
  text-align: center;
}

body.dark-mode .header-bar,
body.dark-mode .footer {
  background-color: var(--color-dark-inner-bg);
  color: var(--color-dark-text);
}

/* Footer toggle */
.footer-toggle {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
}

.theme-toggle {
  display: flex;
  gap: 10px;
}

.theme-icon {
  cursor: pointer;
  font-size: 1.5rem;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.theme-icon.active {
    opacity: 1;
  }
  



/*Search containers  */
  



/* Wiki containers  */




/*Compare containers*/




/* Footer */
.footer {
    background-color: var(--color-light-bg);
    padding: 1rem;
    text-align: center;
  }
  
.footer-left {
    font-size: 0.9rem;
  }
  
/* Darkmode */


/* Dark Mode Overrides */
body.dark-mode {
    background-color: var(--color-dark-bg);
    color: var(--color-dark-text);
  }
  
  body.dark-mode .header-bar,
  body.dark-mode .footer {
    background-color: var(--color-dark-bg);
    color: var(--color-dark-text);
  }
  
  body.dark-mode .tab-link {
    color: var(--color-dark-text);
  }
  
  body.dark-mode .tab-link.active {
    background-color: var(--color-dark-inner-bg);
    color: white;
  }
  
  body.dark-mode .quick-facts-box,
  body.dark-mode .fact-card {
    background-color: var(--color-dark-inner-bg);
    color: var(--color-dark-text);
    border-radius: 8px;
    padding: 0.8rem;
    margin-bottom: 1rem;
  }